{% extends "base.html" %}

{% block content %}

{% if orders %}
{% for order in orders %}
<div class="col-md-7 mb-4 border rounded p-3" dir="rtl">
<!-- order id on right -->
<b style="float: left;">شماره سفارش : {{ order.id }}</b>
<!-- order payment status -->
{% if order.status %}
    <h4><b class="text-success">موفق</b></h4>
{% else %}
    <h3><b class="text-danger">کنسل شده</b></h3>
{% endif %}
<div class="text-muted border-top pt-2"></div>
{% for item in order.items.all  %}
    <div class="border-bottom p-2">
        <p>محصول : <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">{{item.product.title}}</a></p>
        <p>قیمت : {{item.price}}  تومان  </p>
        <p>تعداد : {{item.quantity}}</p>
    </div>
{% endfor %}
<b class="col-md-8 mt-10 p-2 pt-5">قیمت کل : {{ order.get_total_price }}  تومان </b>
</div>
{% endfor %}
{% else %}
<div class="row" dir="rtl">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5 pt-5 text-center">
      <br>
      <h3 class="text-muted text-capitalize">لیست سفارش ها خالی است ...!</h3>
      <a href="/" class="text-primary text-decoration-none">بازگشت</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endif %}

{% endblock %}