{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 text-right h-100 justify-content-center align-items-center" dir="rtl">
        <form method="POST">
            {% csrf_token %}
            <h3>ورود</h3>
            <hr>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary mt-3 w-100" type="submit">ورود</button>
            </div>
            <div class="mt-2 mb-2">
                <small class="">
                    <a class="text-decoration-none text-danger" href="{% url 'accounts:password_reset' %}">آیا رمز عبور را فراموش کرده اید ؟</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                عضو جدید هستید ؟ <a class="text-decoration-none" href="{% url 'accounts:user_register' %}">ثبت نام</a>
            </small>
        </div>
    </div>
{% endblock %}
