{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6"dir="rtl">
        <form method="POST">
            {% csrf_token %}
            <h3>بازیابی پسورد</h3>
            <hr>
            <p class="text-danger">لطفا ایمیل خود را که در حساب کاربری استفاده کرده اید وارد کنید.</p>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary mt-3 w-100" type="submit">درخواست بازیابی </button>
            </div>
        </form>
    </div>
{% endblock %}