{% extends "dashboard.html" %}

{% block content %}
{% if order.status %}
    <h4><b class="text-success">موفق</b></h4>
{% else %}
    <h3><b class="text-danger">کنسل شده</b></h3>
{% endif %}
{% for item in items  %}
<div class="bg-light rounded border-bottom p-3">
    <p>محصول :<a class="text-decoration-none" href="{{ item.product.get_absolute_url }}"> {{item.product.title}}</a></p>
    <p>قیمت :  {{item.price}}  تومان</p>
    <p>تعداد : {{item.quantity}}</p>
</div>
{% endfor %}
<h4 class="border-top pt-2 text-muted">قیمت کل : {{ order.get_total_price }}  تومان</h4>

{% endblock %}